apiVersion: machine.openshift.io/v1beta1
kind: MachineSet
metadata:
  annotations:
{% if node_gpu_count is defined and node_gpu_count | int > 0 %}
    machine.openshift.io/GPU: "{{ node_gpu_count }}"
{% endif %}
{% if node_memory_size is defined and node_memory_size | int > 0 %}
    machine.openshift.io/memoryMb: "{{ node_memory_size }}"
{% endif %}
{% if node_cpu_count is defined and node_cpu_count | int > 0 %}
    machine.openshift.io/vCPU: "{{ node_cpu_count }}"
{% endif %}
  labels:
    machine.openshift.io/cluster-api-cluster: {{ infra_id }} 
  name: {{ infra_id }}-{{ node_role }}-{{ node_owner }}-{{ aws_region }}{{ aws_az }}
  namespace: openshift-machine-api
spec:
  replicas: {{ node_replica_count }} 
  selector:
    matchLabels:
      machine.openshift.io/cluster-api-cluster: {{ infra_id }} 
      machine.openshift.io/cluster-api-machineset: {{ infra_id }}-{{ node_role }}-{{ node_owner }}-{{ aws_region }}{{ aws_az }}
  template:
    metadata:
      labels:
        machine.openshift.io/cluster-api-cluster: {{ infra_id }} 
        machine.openshift.io/cluster-api-machine-role: {{ node_role }}
        machine.openshift.io/cluster-api-machine-type: {{ node_type }}
        machine.openshift.io/cluster-api-machineset: {{ infra_id }}-{{ node_role }}-{{ node_owner }}-{{ aws_region }}{{ aws_az }}
        machine.openshift.io/os-id: Windows 
    spec:
      metadata: 
        labels:
          node-role.kubernetes.io/{{ node_role }}: ""
      taints:
      - effect: NoSchedule
        key: {{ node_taint_key }}
        value: {{ node_taint_value }}
      - effect: NoExecute
        key: {{ node_taint_key }} 
        value: {{ node_taint_value }}
      providerSpec:
        value:
          ami:
            id: {{ windows_node_ami }} 
          apiVersion: awsproviderconfig.openshift.io/v1beta1
          blockDevices:
          - ebs:
              encrypted: true
              iops: 0
              kmsKey:
                arn: ""
              volumeSize: {{ node_block_size }} 
              volumeType: {{ node_volume_type }} 
          credentialsSecret:
            name: aws-cloud-credentials
          deviceIndex: 0
          iamInstanceProfile:
            id: {{ infra_id }}-{{ node_profile }}-role
          instanceType: {{ node_instance_type }}
          kind: AWSMachineProviderConfig
          metadata:
          placement:
{% if use_dedicated_instance is defined and use_dedicated_instance | bool %}
            tenancy: dedicated
{% endif %}
            availabilityZone: {{ aws_region }}{{ aws_az }}
            region: {{ aws_region }}
          securityGroups:
          - filters:
            - name: tag:Name
              values:
              - {{ infra_id }}-{{ node_sg }}-sg
          subnet:
            filters:
            - name: tag:Name
              values:
              - {{ aws_node_subnet }}
          tags:
          - name: kubernetes.io/cluster/{{ infra_id }}
            value: owned
          - name: env_type 
            value: {{ node_env | default('dev', true) }}
          - name: owner
            value: {{ node_owner | default('dpaas', true) }}
          - name: CLAP_ON
            value: "6:00"
          - name: CLAP_OFF
            value: "20:00"
          userDataSecret:
            name: worker-user-data
